body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

* {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.logo-black-letters {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  /* margin-right: 76px; */
}

.logo-title {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  margin-right: 76px;
}

.page-navigation {
  display: flex;
  align-items: center;
  /* margin-right: auto;
  padding: 24px 0; */
}
.menu {
  /* display: flex;
  column-gap: 40px; */
}

.menu-navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu-navigation-item:first-child {
  padding: 24px 0;
}

.menu-contacts {
  display: flex;
  /* column-gap: 40px; */
  margin-left: auto;
  gap: 40px;
}

.page-header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #e7e9fc;
}

.menu-navigation-item-link {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
}

.menu-navigation-item-link:active {
  color: #404bbf;
}

.menu-navigation-item-link:hover,
.menu-navigation-item-link:focus {
  color: #404bbf;
}

.menu-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.address-contacts {
  font-style: normal;
}

.menu-contacts-link:active {
  color: #404bbf;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: #404bbf;
}

.effective-solutions-section {
  background-color: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.effective-solutions-title {
  display: flex;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.order-service-button {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

.success-container {
  /* padding: 120px 0; */
}

.success-section {
  padding-top: 104px;
  padding-bottom: 67px;
  padding: 120px 0;
}

.success-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.success-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.success-menu {
  display: flex;
  /* column-gap: 24px; */
  gap: 24px;
}

.success-menu-item {
  width: calc((100% - 3 * 24px) / 4);
}

.our-team-container {
  /* padding: 120px 0; */
}

.our-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  /* padding-top: 120px; */
  /* padding-bottom: 72px; */
  /* margin-bottom: 72px; */ 
}

.our-team-section {
  /* padding-bottom: 120px; */
  padding: 120px 0;
}

.our-team-menu {
  display: flex;
  /* column-gap: 24px; */
  gap: 24px;
}

.our-team-section {
  background: #f4f4fd;
}

.our-team-menu-item {
  background-color: #fff;
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-menu-item:first-child {
  width: calc((100% - 72px) / 4);
}

.team-member-container {
  padding: 32px 0;
}

.team-member-image {
  /* margin-bottom: 32px; */
}

.team-member-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-member-profession {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  /* padding-bottom: 32px; */
}

.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  /* padding-top: 120px; */
  /* padding-bottom: 72px; */
  /* margin-bottom: 72px; */
}

.our-portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* padding-bottom: 8px;
  padding-left: 16px; */
  margin-bottom: 8px;
}

.our-portfolio-menu-item {
  width: calc((100% - 24 * 4) / 6);
}

.our-portfolio-image {
  /* padding-bottom: 32px; */
}

.our-portfolio-item-direction {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  /* padding-left: 16px; */
}

.page-footer {
  /* padding-top: 101px;
  padding-bottom: 100px; */
  padding: 100px 0;
}

footer {
  background-color: #2e2f42;
}

.logo-white-letters {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  /* padding-top: 17px; */
  width: 264px;
}


.logo-title-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
}
